# PYTHIA Makefile configuration. Get this file from your generated pythia/examples/Makefile.inc
Makefile.inc

# root macro to run whenever root is started in this directory. The following lines should be included
#    gROOT->ProcessLine(".include /path/to/delphes/");
#    gROOT->ProcessLine(".include /path/to/delphes/external/");
#    gSystem->Load("/path/to/delphes/libDelphes");
rootlogon.C

# output files
*.pdf
*.tsv

# .vscode/**
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
